﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Jacky changed 2:37pm From Jenkins Pipeline Gitlab repo</h1>
    <p>The time on the server is @DateTime.Now</p>
</div>
